@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@600&display=swap');
:root{
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayis-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: (with 75% opacity for lightbox background): hsl(0, 0%, 0%);
}
.container-header{
    background: var(--white);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.line{
    width: 60%;
    border-bottom: 1px solid var(--grayis-blue);
    margin: 0 auto;
}
.container-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 20px;
}
.container-header header .menu a{
    font-family: 'Kumbh Sans';
    font-size: 30px;
    color: var(--very-dark-blue);
    text-decoration: none;
    font-weight: bold;
}
.container-header header ul{
    display: flex;
    list-style: none;
    margin-left: -200px;
}
.container-header header nav ul li a{
    text-align: none;
    color: var(--dark-grayish-blue);
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
a:hover {
    color: #66ccff;
  }
#indicator {
    position: absolute;
    height: 3px;
    width: 0;
    background-color: var(--orange);
    bottom: 0;
    transition: width 0.3s, left 0.3s;
  }
.container-header header .move{
    display: flex;
    align-items: center;
    
}
.container-header header .user img{
    width: 40px;
    height: 40px;
    margin-left: 50px;
}

.content{
    width: 800px;
    height: 500px;
    margin: 0 auto;
    /*background-color: blue;*/
    padding: 90px;
    display: flex;
}

.image-big img{
    padding: 50px;
    width: 350px;
    height: 350px;
    border-radius: 60px;
    cursor: pointer;
    position: relative;
}
.images-small{
    width: 350px;
    display: flex;
    margin-left: 50px;
    justify-content: space-between;
    
}
.images-small img{
    width: 70px;
    height: 70px;
    border-radius: 15px;
    cursor: pointer;
}
.text{
    margin-top: 90px;
    /*background-color: aqua;*/
    width: 400px;
    height: 400px;
    margin-left: 40px;
}
.text h2{
    font-size: 15px;
    color: var(--orange);
}
.text h1{
    color: var(--very-dark-blue);
    font-family: 'Kumbh Sans';
    font-weight: bold;
}
.text p{
    color: var(--dark-grayish-blue);
    font-size: 15px;
    word-spacing: 1px;
    font-family: 'Kumbs Sans';
}
.text h3{
    color: var(--very-dark-blue);
    font-family: 'Kumbh Sans';
    font-weight: bold;
}
.text h3 span{
    background-color: var(--pale-orange);
    font-size: 13px;
    color: var(--orange);
}
.text h4{
    color: var(--grayis-blue);
    text-decoration: line-through;
    margin-top: -10px;
}
.button-buy{
    display: flex;
    justify-content: space-evenly;
}
.button-buy .cant i{
    color: var(--orange);
}
.cant{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--light-grayish-blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.button-buy button{
    background-color: var(--orange);
    border-radius: 5px;
    width: 55%;
    border-color: var(--pale-orange);
    color: var(--white);
    font-weight: bold;
}
.button-buy button i{
    margin-right: 15px;
}
.cart-popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    margin-top: 110px;
    width: 200px;
    height: 150px;
    
}
.cart-popup.active {
    display: block;
  }
.cart-popup h1{
    font-size: 15px;
    font-family: 'Kumbh Sans';
  }
.cart-popup p{
    padding: 40px;
}

.buy{
    cursor: pointer;
}
.buy:hover{
    color: var(--orange);
}
.user img{
    cursor: pointer;
    transition: border-color 0.3s;
}
.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
  }
#next-button{
    margin-left: 430px;
}


/* Agrega este código en tu archivo de estilos */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    
  }
  
  .lightbox-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;

  }
  
  
.lightbox .nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    color: white;
  }
  
.lightbox .images-small{
    width: 2px;
    height: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 16px;
}
.lightbox .images-small img{
    margin-right: 20px;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
    width: 100px;
    height: 100px;
    color: var(--orange);
  }
#left{
    margin-left: 390px;
    background-color: var(--orange);
    border-radius: 50%;
    
}
#right{
    margin-left: 35px;
    background-color: var(--orange);
    border-radius: 50%;
    
}